@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<!-- Provisório -->
<MudLayout>
    <MudAppBar Position="AppBarPosition.Top">
        <MudButton Href="/home" Color="Color.Primary" Variant="Variant.Filled" Class="mr-4">Home</MudButton>
        <MudButton Href="/register" Color="Color.Primary" Variant="Variant.Filled" Class="mr-4">Register</MudButton>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
